:root {
  /*base*/
  --white: #ffffff;

  /*dark*/
  --dark-100: #79787d;
  --dark-200: #626066;
  --dark-300: #474748;
  --dark-400: #3c3c3d;
  --dark-500: #2a282c;
  --dark-600: #28272b;
  --dark-700: #242327;
  --dark-800: #1b1a1d;
  --dark-900: #19181b;
  --dark-1000: #100f11;
  --dark-alpha: #2a282c26;

  /*playly-brand*/
  --playly-brand-100: #cfe6fe;
  --playly-brand-200: #9fcdfd;
  --playly-brand-300: #6eb4fb;
  --playly-brand-400: #3e9bfa;
  --playly-brand-500: #0e82f9;
  --playly-brand-600: #0b68c7;
  --playly-brand-700: #084e95;
  --playly-brand-800: #063464;
  --playly-brand-900: #04274b;
  --playly-brand-1000: #031a32;
  --playly-brand-alpha: #0e82f926;
  --playly-brand-main-gradient: linear-gradient(
    134.09deg,
    #1477dd 25.4%,
    #0371e2 92.78%
  );

  /*babkashop-brand*/
  --babkashop-brand-100: #fde6ff;
  --babkashop-brand-200: #fbcfff;
  --babkashop-brand-300: #f9b8ff;
  --babkashop-brand-400: #f9a4fe;
  --babkashop-brand-500: #f79bfe;
  --babkashop-brand-600: #c67ccc;
  --babkashop-brand-700: #955d99;
  --babkashop-brand-800: #643e66;
  --babkashop-brand-900: #472d4b;
  --babkashop-brand-1000: #2b1b30;
  --babkashop-brand-alpha: #f79bfe26;
  --babkashop-brand-main-gradient: linear-gradient(
    134.09deg,
    #f28bff 25.4%,
    #e56bff 92.78%
  );

  /*light*/
  --light-100: #e8e8e9;
  --light-200: #d1d1d3;
  --light-300: #bbbbbe;
  --light-400: #a4a4a8;
  --light-500: #8d8d92;
  --light-600: #717175;
  --light-700: #555558;
  --light-800: #38383a;
  --light-900: #2a2a2c;
  --light-1000: #1c1c1d;
  --light-alpha: #8d8d9226;

  /*green*/
  --green-100: #d3f3dd;
  --green-200: #a8e7bb;
  --green-300: #7cdb98;
  --green-400: #51cf76;
  --green-500: #25c354;
  --green-600: #1e9c43;
  --green-700: #167532;
  --green-800: #0f4e22;
  --green-900: #0b3a19;
  --green-1000: #072711;
  --green-alpha: #25c35426;
  --green-main-gradient: linear-gradient(
    134.09deg,
    var(--green-400) 25.4%,
    var(--green-500) 92.78%
  );

  /*pink*/
  --pink-100: #f6cfdd;
  --pink-200: #ee9fbc;
  --pink-300: #e5709a;
  --pink-400: #dd4079;
  --pink-500: #d41057;
  --pink-600: #aa0d46;
  --pink-700: #7f0a34;
  --pink-800: #550623;
  --pink-900: #40051a;
  --pink-1000: #2a0311;
  --pink-alpha: #d4105726;
  --pink-main-gradient: linear-gradient(
    134.09deg,
    var(--pink-400) 25.4%,
    var(--pink-500) 92.78%
  );

  /*blue*/
  --blue-100: #cfe8f6;
  --blue-200: #9fd2ee;
  --blue-300: #70bbe5;
  --blue-400: #40a5dd;
  --blue-500: #108ed4;
  --blue-600: #0d72aa;
  --blue-700: #0a557f;
  --blue-800: #063955;
  --blue-900: #052b40;
  --blue-1000: #031c2a;
  --blue-alpha: #108ed426;
  --blue-main-gradient: linear-gradient(
    134.09deg,
    var(--blue-400) 25.4%,
    var(--blue-500) 92.78%
  );

  /*yellow*/
  --yellow-100: #fff7db;
  --yellow-200: #ffeeb7;
  --yellow-300: #ffe692;
  --yellow-400: #ffdd6e;
  --yellow-500: #ffd54a;
  --yellow-600: #ccaa3b;
  --yellow-700: #99802c;
  --yellow-800: #66551e;
  --yellow-900: #4c4016;
  --yellow-1000: #332b0f;
  --yellow-alpha: #ffd54a26;
  --yellow-main-gradient: linear-gradient(
    134.09deg,
    var(--yellow-400) 25.4%,
    var(--yellow-500) 92.78%
  );

  /*red*/
  --red-100: #f5d6d6;
  --red-200: #e08585;
  --red-300: #d55d5d;
  --red-400: #d04848;
  --red-500: #cb3434;
  --red-600: #a22a2a;
  --red-700: #7a1f1f;
  --red-800: #511515;
  --red-900: #3d1010;
  --red-1000: #290a0a;
  --red-alpha: #cb343426;
  --red-main-gradient: linear-gradient(
    134.09deg,
    var(--red-400) 25.4%,
    var(--red-500) 92.78%
  );

  /*purple*/
  --purple-100: #e4ccf8;
  --purple-200: #ca99f1;
  --purple-300: #af66ea;
  --purple-400: #9533e3;
  --purple-500: #7e10d4;
  --purple-600: #640daa;
  --purple-700: #4b0a7f;
  --purple-800: #320755;
  --purple-900: #250540;
  --purple-1000: #19032a;
  --purple-alpha: #7e10d426;
  --purple-main-gradient: linear-gradient(
    134.09deg,
    var(--purple-400) 25.4%,
    var(--purple-500) 92.78%
  );

  /*marine*/
  --marine-100: #d7f0eb;
  --marine-200: #afe1d7;
  --marine-300: #88d1c3;
  --marine-400: #60c2af;
  --marine-500: #42a58d;
  --marine-600: #358673;
  --marine-700: #286658;
  --marine-800: #1b473e;
  --marine-900: #14352f;
  --marine-1000: #0e2320;
  --marine-alpha: #42a58d26;
  --marine-main-gradient: linear-gradient(
    134.09deg,
    var(--marine-400) 25.4%,
    var(--marine-500) 92.78%
  );

  /*sky-blue*/
  --sky-blue-100: #ccf7ff;
  --sky-blue-200: #99efff;
  --sky-blue-300: #66e7ff;
  --sky-blue-400: #33dfff;
  --sky-blue-500: #00d4ff;
  --sky-blue-600: #00aacc;
  --sky-blue-700: #007f99;
  --sky-blue-800: #005566;
  --sky-blue-900: #003f4c;
  --sky-blue-1000: #002933;
  --sky-blue-alpha: #00d4ff26;
  --sky-blue-main-gradient: linear-gradient(
    134.09deg,
    var(--sky-blue-400) 25.4%,
    var(--sky-blue-500) 92.78%
  );

  /*gradients*/
  --blue-gradient: linear-gradient(
    180deg,
    rgba(16, 142, 212, 0.4) 0%,
    rgba(16, 142, 212, 0.2) 31.33%,
    rgba(16, 142, 212, 0) 100%
  );
  --blue-gradient-active: linear-gradient(
    180deg,
    rgba(16, 142, 212, 0.5) 0%,
    rgba(16, 142, 212, 0.2) 38%,
    rgba(16, 142, 212, 0) 100%
  );

  --pink-gradient: linear-gradient(
    180deg,
    rgba(212, 16, 87, 0.4) 0%,
    rgba(212, 16, 87, 0.2) 31.33%,
    rgba(212, 16, 87, 0) 100%
  );
  --pink-gradient-active: linear-gradient(
    180deg,
    rgba(212, 16, 87, 0.5) 0%,
    rgba(212, 16, 87, 0.2) 38%,
    rgba(212, 16, 87, 0) 100%
  );

  --green-gradient: linear-gradient(
    180deg,
    rgba(6, 169, 55, 0.4) 0%,
    rgba(6, 169, 55, 0.2) 31.33%,
    rgba(6, 169, 55, 0) 100%
  );
  --green-gradient-active: linear-gradient(
    180deg,
    rgba(6, 169, 55, 0.5) 0%,
    rgba(6, 169, 55, 0.2) 38%,
    rgba(6, 169, 55, 0) 100%
  );

  --red-gradient: linear-gradient(
    180deg,
    rgba(203, 52, 52, 0.4) 0%,
    rgba(203, 52, 52, 0.2) 31.33%,
    rgba(203, 52, 52, 0) 100%
  );
  --red-gradient-active: linear-gradient(
    180deg,
    rgba(203, 52, 52, 0.5) 0%,
    rgba(203, 52, 52, 0.2) 38%,
    rgba(203, 52, 52, 0) 100%
  );

  --light-gradient: linear-gradient(
    180deg,
    rgba(98, 96, 102, 0.4) 0%,
    rgba(98, 96, 102, 0.2) 31.33%,
    rgba(98, 96, 102, 0) 100%
  );
  --light-gradient-active: linear-gradient(
    180deg,
    rgba(98, 96, 102, 0.5) 0%,
    rgba(98, 96, 102, 0.2) 38%,
    rgba(98, 96, 102, 0) 100%
  );

  --yellow-gradient: linear-gradient(
    180deg,
    rgba(255, 213, 74, 0.4) 0%,
    rgba(255, 213, 74, 0.2) 31.33%,
    rgba(255, 213, 74, 0) 100%
  );
  --yellow-gradient-active: linear-gradient(
    180deg,
    rgba(255, 213, 74, 0.5) 0%,
    rgba(255, 213, 74, 0.2) 38%,
    rgba(255, 213, 74, 0) 100%
  );

  --purple-gradient: linear-gradient(
    180deg,
    rgba(126, 16, 212, 0.4) 0%,
    rgba(126, 16, 212, 0.2) 31.33%,
    rgba(126, 16, 212, 0) 100%
  );
  --purple-gradient-active: linear-gradient(
    180deg,
    rgba(126, 16, 212, 0.5) 0%,
    rgba(126, 16, 212, 0.2) 38%,
    rgba(126, 16, 212, 0) 100%
  );

  --marine-gradient: linear-gradient(
    180deg,
    rgba(66, 165, 141, 0.4) 0%,
    rgba(66, 165, 141, 0.2) 31.33%,
    rgba(66, 165, 141, 0) 100%
  );
  --marine-gradient-active: linear-gradient(
    180deg,
    rgba(66, 165, 141, 0.5) 0%,
    rgba(66, 165, 141, 0.2) 38%,
    rgba(66, 165, 141, 0) 100%
  );

  --sky-blue-gradient: linear-gradient(
    180deg,
    rgba(0, 212, 255, 0.4) 0%,
    rgba(0, 212, 255, 0.2) 38%,
    rgba(0, 212, 255, 0) 100%
  );
  --sky-blue-gradient-active: linear-gradient(
    180deg,
    rgba(0, 212, 255, 0.5) 0%,
    rgba(0, 212, 255, 0.2) 38%,
    rgba(0, 212, 255, 0) 100%
  );
}

/* тема по умолчанию */
html.theme-playly {
  --primary-100: var(--playly-brand-100);
  --primary-200: var(--playly-brand-200);
  --primary-300: var(--playly-brand-300);
  --primary-400: var(--playly-brand-400);
  --primary-500: var(--playly-brand-500);
  --primary-600: var(--playly-brand-600);
  --primary-700: var(--playly-brand-700);
  --primary-800: var(--playly-brand-800);
  --primary-900: var(--playly-brand-900);
  --primary-1000: var(--playly-brand-1000);
  --primary-alpha: var(--playly-brand-alpha);
  --primary-gradient: var(--playly-brand-main-gradient);
}

/* розовая тема */
html.theme-pink {
  --primary-100: var(--pink-100);
  --primary-200: var(--pink-200);
  --primary-300: var(--pink-300);
  --primary-400: var(--pink-400);
  --primary-500: var(--pink-500);
  --primary-600: var(--pink-600);
  --primary-700: var(--pink-700);
  --primary-800: var(--pink-800);
  --primary-900: var(--pink-900);
  --primary-1000: var(--pink-1000);
  --primary-alpha: var(--pink-alpha);
  --primary-gradient: var(--pink-main-gradient);
}

/* красная тема */
html.theme-red {
  --primary-100: var(--red-100);
  --primary-200: var(--red-200);
  --primary-300: var(--red-300);
  --primary-400: var(--red-400);
  --primary-500: var(--red-500);
  --primary-600: var(--red-600);
  --primary-700: var(--red-700);
  --primary-800: var(--red-800);
  --primary-900: var(--red-900);
  --primary-1000: var(--red-1000);
  --primary-alpha: var(--red-alpha);
  --primary-gradient: var(--red-main-gradient);
}

/* babkashop тема */
html.theme-babkashop {
  --primary-100: var(--babkashop-brand-100);
  --primary-200: var(--babkashop-brand-200);
  --primary-300: var(--babkashop-brand-300);
  --primary-400: var(--babkashop-brand-400);
  --primary-500: var(--babkashop-brand-500);
  --primary-600: var(--babkashop-brand-600);
  --primary-700: var(--babkashop-brand-700);
  --primary-800: var(--babkashop-brand-800);
  --primary-900: var(--babkashop-brand-900);
  --primary-1000: var(--babkashop-brand-1000);
  --primary-alpha: var(--babkashop-brand-alpha);
  --primary-gradient: var(--babkashop-brand-main-gradient);
}
