:root {
  --font-inter: Inter, sans-serif;

  --font-massive: 700 24px/150% var(--font-inter);
  --font-large: 500 18px/150% var(--font-inter);
  --font-base: 700 16px/150% var(--font-inter);
  --font-normal: 500 14px/150% var(--font-inter);
}
