html,
body {
  scrollbar-gutter: stable;
}

html {
  font-size: 12px;
}

body {
  font-family: var(--font-inter);
  font-weight: 500;
  color: var(--light-500);
  background-color: var(--dark-1000);

  &.no-scroll {
    overflow: hidden;
  }
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
