html,
body {
  scrollbar-gutter: stable;
}

html {
  font-size: 12px;
}

body {
  font-family: var(--font-manrope);
  font-weight: 600;
  color: var(--foreground-default);

  &.no-scroll {
    overflow: hidden;
  }
}

.notification {
  padding: 20px;
  pointer-events: none;

  .notification-title,
  .notification-content {
    text-align: left;
    font-size: 14px;
  }

  .notification-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .vue-notification {
    cursor: pointer;
    padding: 14px;
    border-radius: 12px;
    background-color: blue !important;
    color: var(--white-color);
    border: none;
    pointer-events: auto;
  }

  .vue-notification.success {
    background-color: var(--success-color) !important;
  }

  .vue-notification.info {
    background-color: var(--info-color) !important;
  }

  .vue-notification.error {
    background-color: var(--danger-color) !important;
  }

  .vue-notification.warn {
    background-color: var(--warning-color) !important;
  }
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray-secondary);
  border-radius: 10px;
}

.landing-container {
  width: var(--container-width);
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
}
