@font-face {
    font-family: "icons";
    src: url("/fonts/icons/icons.woff?1d1842a1dbd53e31e2a55a86a0261ea0") format("woff"),
url("/fonts/icons/icons.woff2?1d1842a1dbd53e31e2a55a86a0261ea0") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
    content: "\f101";
}
.icon-up-square-2:before {
    content: "\f102";
}
.icon-up-square-1:before {
    content: "\f103";
}
.icon-up-circle-2:before {
    content: "\f104";
}
.icon-up-circle-1:before {
    content: "\f105";
}
.icon-up-1:before {
    content: "\f106";
}
.icon-up-3:before {
    content: "\f107";
}
.icon-up-2:before {
    content: "\f108";
}
.icon-undo:before {
    content: "\f109";
}
.icon-telegram:before {
    content: "\f10a";
}
.icon-swap-2:before {
    content: "\f10b";
}
.icon-swap-1:before {
    content: "\f10c";
}
.icon-sp-logo:before {
    content: "\f10d";
}
.icon-send-2:before {
    content: "\f10e";
}
.icon-rotate-right:before {
    content: "\f10f";
}
.icon-rotate-left:before {
    content: "\f110";
}
.icon-robux:before {
    content: "\f111";
}
.icon-right-square-2:before {
    content: "\f112";
}
.icon-right-square-1:before {
    content: "\f113";
}
.icon-right-circle-2:before {
    content: "\f114";
}
.icon-right-circle-1:before {
    content: "\f115";
}
.icon-right-3:before {
    content: "\f116";
}
.icon-right-2:before {
    content: "\f117";
}
.icon-right-1:before {
    content: "\f118";
}
.icon-refresh-2:before {
    content: "\f119";
}
.icon-refresh-1:before {
    content: "\f11a";
}
.icon-redo:before {
    content: "\f11b";
}
.icon-profile-1:before {
    content: "\f11c";
}
.icon-login:before {
    content: "\f11d";
}
.icon-left-square-2:before {
    content: "\f11e";
}
.icon-left-square-1:before {
    content: "\f11f";
}
.icon-left-circle-2:before {
    content: "\f120";
}
.icon-left-circle-1:before {
    content: "\f121";
}
.icon-left-3:before {
    content: "\f122";
}
.icon-left-2:before {
    content: "\f123";
}
.icon-left-1:before {
    content: "\f124";
}
.icon-group-2:before {
    content: "\f125";
}
.icon-foreign:before {
    content: "\f126";
}
.icon-download:before {
    content: "\f127";
}
.icon-down-square-2:before {
    content: "\f128";
}
.icon-down-square-1:before {
    content: "\f129";
}
.icon-down-circle-2:before {
    content: "\f12a";
}
.icon-down-circle-1:before {
    content: "\f12b";
}
.icon-down-3:before {
    content: "\f12c";
}
.icon-down-2:before {
    content: "\f12d";
}
.icon-down-1:before {
    content: "\f12e";
}
.icon-check:before {
    content: "\f12f";
}
.icon-case-1:before {
    content: "\f130";
}
.icon-buy-1:before {
    content: "\f131";
}
.icon-arrow-swap-vertical:before {
    content: "\f132";
}
.icon-arrow-swap-horizontal:before {
    content: "\f133";
}
.icon-Logout:before {
    content: "\f134";
}
